<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CHAT</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="app.js"></script>
</head>
<body ng-app="chatRoom" ng-controller="chatCtrl">

<!-- chat room -->

<div class="chat-room-wrapper" ng-show="hasLogined">
    <div class="online panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Online:
                <span class="user-number">
                <em>{{users.length-1}}</em>
                </span>
            </h3>
        </div>
        <br> 
        <div class="user-wrapper panel-body">
            <user iscurrentreceiver="receiver===user.nickname" info="user" ng-click="setReceiver(user.nickname)" ng-repeat="user in users"></user>
        </div>
    </div>

    <div class="chat-room panel">
        <div class="panel-heading">
            <h3 class="panel-title" style="height: 20px;">
            {{receiver?receiver:"Group Room"}}
            </h3>
        </div>
        <div class="message-wrapper panel-body">
            <message self="nickname" scrolltothis="scrollToBottom()" info="message" ng-repeat="message in messages"></message>
        </div>
        <div class="panel-footer">
            <form class="post-form form-inline" novalidate name="postform" ng-submit="postMessage()">
                <input type="text" class="form-control" ng-model="words" required>
                <button type="submit" class="btn btn-success" ng-disabled="postform.$invalid">Send</button>
            </form>
        </div>
    </div>
</div>

<!-- end of chat room -->

<!-- login form -->
<div class="userform-wrapper"  ng-show="!hasLogined">
    <form class="form-inline login" novalidate name="userform" ng-submit="login()">
        <div class="form-group">
            <label for="nickname" class="sr-only"></label>
            <div class="input-group">
                <div class="input-group-addon"><span class="fa fa-user"></span></div>
                <input type="text" class="form-control" id="nickname" placeholder="Your Nickname" ng-model="nickname" required/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="userform.$invalid">LOG IN</button>
        <p ng-show="userExisted" class="help-block" style="color: black; font-size: 20px;">A user with this nickname already exists.</p>

    </form>
</div>
<!-- end of login form -->

</body>
</html>